Lab1/StandAlone/src/main/java/mypackage/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controllers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controllers/" name="PersonService">
<types>
<xsd:schema>
<xsd:import namespace="http://controllers/" schemaLocation="http://localhost:8080/PersonService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getPersonsByNameAndSurname">
<part name="parameters" element="tns:getPersonsByNameAndSurname"></part>
</message>
<message name="getPersonsByNameAndSurnameResponse">
<part name="parameters" element="tns:getPersonsByNameAndSurnameResponse"></part>
</message>
<message name="getAllPersons">
<part name="parameters" element="tns:getAllPersons"></part>
</message>
<message name="getAllPersonsResponse">
<part name="parameters" element="tns:getAllPersonsResponse"></part>
</message>
<message name="getPersonsByName">
<part name="parameters" element="tns:getPersonsByName"></part>
</message>
<message name="getPersonsByNameResponse">
<part name="parameters" element="tns:getPersonsByNameResponse"></part>
</message>
<message name="getPersonsByPhone">
<part name="parameters" element="tns:getPersonsByPhone"></part>
</message>
<message name="getPersonsByPhoneResponse">
<part name="parameters" element="tns:getPersonsByPhoneResponse"></part>
</message>
<message name="getPersonsByEmail">
<part name="parameters" element="tns:getPersonsByEmail"></part>
</message>
<message name="getPersonsByEmailResponse">
<part name="parameters" element="tns:getPersonsByEmailResponse"></part>
</message>
<portType name="PersonWebService">
<operation name="getPersonsByNameAndSurname">
<input wsam:Action="http://controllers/PersonWebService/getPersonsByNameAndSurnameRequest" message="tns:getPersonsByNameAndSurname"></input>
<output wsam:Action="http://controllers/PersonWebService/getPersonsByNameAndSurnameResponse" message="tns:getPersonsByNameAndSurnameResponse"></output>
</operation>
<operation name="getAllPersons">
<input wsam:Action="http://controllers/PersonWebService/getAllPersonsRequest" message="tns:getAllPersons"></input>
<output wsam:Action="http://controllers/PersonWebService/getAllPersonsResponse" message="tns:getAllPersonsResponse"></output>
</operation>
<operation name="getPersonsByName">
<input wsam:Action="http://controllers/PersonWebService/getPersonsByNameRequest" message="tns:getPersonsByName"></input>
<output wsam:Action="http://controllers/PersonWebService/getPersonsByNameResponse" message="tns:getPersonsByNameResponse"></output>
</operation>
<operation name="getPersonsByPhone">
<input wsam:Action="http://controllers/PersonWebService/getPersonsByPhoneRequest" message="tns:getPersonsByPhone"></input>
<output wsam:Action="http://controllers/PersonWebService/getPersonsByPhoneResponse" message="tns:getPersonsByPhoneResponse"></output>
</operation>
<operation name="getPersonsByEmail">
<input wsam:Action="http://controllers/PersonWebService/getPersonsByEmailRequest" message="tns:getPersonsByEmail"></input>
<output wsam:Action="http://controllers/PersonWebService/getPersonsByEmailResponse" message="tns:getPersonsByEmailResponse"></output>
</operation>
</portType>
<binding name="PersonWebServicePortBinding" type="tns:PersonWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getPersonsByNameAndSurname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersonsByName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersonsByPhone">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPersonsByEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PersonService">
<port name="PersonWebServicePort" binding="tns:PersonWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonService"></soap:address>
</port>
</service>
</definitions>